.app {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.page {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  min-height:100vh;
  width: 256px;
  background-color: #34495e;
  display:flex;
  flex-direction: column;
}
.expanded.sidebar {
  width: 256px;
  transition: width 1s;
}
.collapsed.sidebar {
  width: 64px;
  transition: width 1s;
}
.sidebar-header {
  height: 80px;
  display: flex;
  font-size: 25px;
  color: white;
  align-items: center;
}
.collapsed .sidebar-header {
  margin-left:0px;
}
.menu-icon {
    margin-left:auto;
}
.header-icon {
  margin-left:auto;
  margin-right:auto;

  margin-left: 40px;
}
.selected-ribbon {
  background-color: #ffb900;
  width: 8px;
  height: 100%;
  float:left;
  visibility: hidden;
}
.sidebar-icon {
  color: white;
  fill: white;
  height:24px;
  width:24px;
  display: inline-block;
  padding-left: 32px;
  padding-right: 16px;
}

.active .sidebar-item {
  background-color: #202e3b;
  color: white !important;
}
.active .selected-ribbon {
  visibility: visible;
}
.collapsed p {
  visibility: collapse;
}
.collapsed .sidebar-item .sidebar-icon {
  padding-left:0px;
  padding-right:0px;
  margin-left:auto;
  margin-right:auto;
}
.sidebar-item {
  height: 50px;
  color: aliceblue;
  cursor: pointer;
  display: flex;

  align-items: center;
}
.end-sidebar-item {
  margin-top:auto;
}
.sidebar-item:hover {
  background-color: #202e3b;
}

