.app {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.content-header {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  border-bottom: 2px solid lightgrey;
}

.content-header-inner {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-right: 24px;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  min-height:100vh;
  width: 256px;
  background-color: #34495e;
  display:flex;
  flex-direction: column;
}

.sidebar-header {
  height: 80px;
  display: flex;
  font-size: 25px;
  color: white;
  align-items: center;
  margin-left: 40px;
}

.selected-ribbon {
  background-color: #ffb900;
  width: 8px;
  height: 100%;
  float:left;
  visibility: hidden;
}
.sidebar-icon {
  color: white;
  fill: white;
  height:24px;
  width:24px;
  display: inline-block;
  padding-left: 32px;
  padding-right: 16px;
}

.active .sidebar-item {
  background-color: #202e3b;
  color: white !important;
}
.active .selected-ribbon {
  visibility: visible;
}

.sidebar-item {
  height: 50px;
  color: aliceblue;
  cursor: pointer;
  display: flex;

  align-items: center;
}

.sidebar-item:hover {
  background-color: #202e3b;
}

