.test-steps-root {
    display:flex;
    flex-direction: row;
    height: 100%;
}

.test-step-list{
    height: 100%;
    min-width:10vw;
    display:flex;
    flex-direction: column;
    background: #34495e;
    border-left: 2px solid grey;
}

.test-step-row{
    display: flex;
    align-items: center;
    color: white;
}
.test-step-row:hover {
    background: #202e3b;
}

