.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.sidebar {
  min-height:90vh;
  max-width: 15vw;
  background-color: #42474f;

}

.sidebar-item:hover {
  background-color: #5a616c;
}
.sidebar-item {
  min-height: 5vh;
  padding-left: 10px;
  padding-top: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
